* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    margin: auto;
}

span {
    display: inline-block;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 304px;
    background-color: #fff;
    padding: 16px;
    margin: 5px;
}

.card__icon {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.card__icon span {
    color: #BFC5D1;
    font-size: 20px;
}

.card__thumbnail img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.search-box-img {
    width: 97px;
    height: 71px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    font-size: 18px;
    color: #1B2437;
    font-weight: 500;
    margin: 16px 0;
}

.email {
    font-size: 14px;
    color: #98A0A6;
    font-weight: 500;
    margin-bottom: 16px;
}

.card__btn {
    display: flex;
    justify-content: space-between;
}

.btn {
    flex-basis: 48%;
    border-radius: 100px;
    padding: 10px 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.btn__icon {
    color: #BFC5D1;
    font-size: 20px;
    margin-right: 10px;
}

.btn__name {
    color: #BFC5D1;
    font-size: 14px;
    font-weight: 500;
}

.btn:hover {
    background-color: #507BFC;
}

.btn:hover .btn__name,
.btn:hover .btn__icon{
    color: #fff;
}

.rocket-icon{
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
    display: flex;
    justify-content: space-evenly;
    margin: 10px;
}

.top-row{
    margin-top: 20px ;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.top-row-btn{
    width: 126px;
    height: 40px;
    border-radius: 100px;

}

.rocket-icon{
    width: 40px;
    height: 40px;
}
.left{
    display: flex;
}

.left-text{
    display: flex;
    flex-direction: column;
}

.right{
    display: flex;
}

.nav-bar{
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

input{
    width: 500px;
    height: 40px;
    background: rgba(245, 247, 250, 0.2);
    border: 1px solid #F5F7FA;
    border-radius: 3px;
}

.profile{
    display: flex;
    align-items: center;
    justify-content:center;
}

.menu{
    display: flex;
    align-items: center;
    justify-content:center;

}